a {
  color: theme-color("white");

  &:hover {
    text-decoration: none;
  }
}

.btn-primary {
  padding: 0 15px;
}

.btn-grn {
  background-color: theme-color("btn-grn");
  border-radius: 3px;
  padding: 5px 30px;
  width: 200px;
  margin: 0 5px;

  &:hover {
    background-color: theme-color("btn-hover");
    color: theme-color("white");
  }
}

.btn-subscribe {
  background-image: url("../images/envelope.svg");
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: 92px 6px;
}

.btn-submit {
  @extend .btn-primary;

  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: 92px 6px;
}

.participate-button {
  @extend .btn-primary;
  @extend .align-self-center;

  background-color: theme-color("white");
  border: 3px solid theme-color("secondary");
  border-radius: 5px;
  color: theme-color("btn-grey");
  padding: 6px 20px;
  text-align: center;
  width: 150px;
  margin: 10px;

  &:hover {
    text-decoration: none;
    background-color: theme-color("lgt-grey");
    color: theme-color("white");
  }
}

.donate-button {
  @extend .btn-primary;
  @extend .align-self-center;

  background-color: theme-color("white");
  border: 3px solid theme-color("magenta");
  border-radius: 5px;
  color: theme-color("btn-grey");
  padding: 6px 20px;
  text-align: center;
  width: 150px;
  margin: 10px;

  &:hover {
    text-decoration: none;
    background-color: theme-color("lgt-grey");
    color: theme-color("white");
  }
}

.dropdown-toggle {
  width: 160px;
}

.contact-button {
  @extend .btn-primary;
  @extend .align-self-center;

  background-color: theme-color("white");
  border: 3px solid theme-color("primary");
  border-radius: 5px;
  color: theme-color("btn-grey");
  padding: 6px 20px;
  text-align: center;
  width: 150px;
  margin: 10px;

  &:hover {
    text-decoration: none;
    background-color: theme-color("lgt-grey");
    color: theme-color("white");
  }
}

.wpcf7-form-control.wpcf7-submit {
  @extend .btn-primary;
  @extend .col-12;

  border-style: solid;
  margin: 4px 0;
}
