.searchform {
  @extend .justify-content-center;
  @extend .justify-content-xl-end;
  @extend .d-flex;
  @extend .flex-column;
  @extend .flex-md-row;
  @extend .flex-grow-1;

  button {
    @extend .align-self-center;

    height: 95px;
    width: 95px;
    border-radius: 50%;
    border: 3px solid theme-color("magenta");
    background-color: theme-color("lgt-grey");
    color: theme-color("white");
    margin: 10px;

    &:hover {
      text-decoration: none;
      color: theme-color("lgt-grey");

      .logo {
        animation: 0.8s ease forwards pulse;
      }
    }
  }

  input {
    @extend .align-self-center;

    border: 3px solid theme-color("magenta");
    border-radius: 6px;
    height: 30px;
    max-width: 250px;
    background-color: theme-color("lgt-grey");
    padding: 5px;
  }
}

div.wpcf7 {
  max-width: 320px;
  margin: 10px;

  .wpcf7-form {
    @extend .col-12;
  }

  textarea {
    @extend .col-12;
  }

  input {
    @extend .col-12;
  }
}

.wpcf7-submit {
  &:hover {
    text-decoration: none;
    background-color: theme-color("white");
    color: theme-color("lgt-grey");
  }
}

