.magnify-glass {
  border-radius: 50%;

  .st0 {
    clip-path: url(#SVGID_2_);
  }

  .st1 {
    clip-path: url(#SVGID_2_);
    stroke: #000;
    stroke-width: 25;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }

  .st2 {
    clip-path: url(#SVGID_2_);
    fill: none;
    stroke: #000;
    stroke-width: 31;
    stroke-miterlimit: 10;
  }

  .st3 {
    clip-path: url(#SVGID_2_);
    fill: #fff;
  }

  .glass-frame {
    fill: rgba(255, 255, 255, 0.2);
    stroke: theme-color("btn-grey");
  }

  .handle {
    fill: theme-color("primary");
  }

  .logo {
    fill: theme-color("primary");
    transform-origin: 50% 50%;
    transform: scale(0.2);
    animation: 0.8s pulse-out 1;
    animation-fill-mode: forwards;
  }
}

#toTopSVG {
  .cls-1 {
    opacity: 0;
    fill: theme-color("primary");
    stroke: none;
    transform-origin: 50% 50%;
  }

  #arrow-full {
    opacity: 1;
    fill: none;
    stroke: theme-color("primary");
    stroke-width: 15px;
  }

  #arrow-full-shadow {
    animation: 0.8s ease forwards fill-color-out;
  }

  &:hover {
    #arrow-full-shadow {
      animation: 0.8s ease forwards fill-color;
    }
  }
}

#toggle-button {
  .cls-1 {
    fill: theme-color("primary");
  }
}
