.archive {
  &-wrap {
    @extend .d-flex;
  }

  &-container {
    @extend .d-flex;
    @extend .flex-wrap;

    &-header {
      @extend .col-sm-12;
      @extend .d-flex;
      @extend .flex-wrap;

      form {
        @extend .d-flex;
        @extend .flex-wrap;
        @extend .align-self-center;

        width: 300px;

        select {
          @extend .flex-grow-1;

          margin: 0 5px;
          min-width: 100px;
          min-height: 25px;
        }

        input {
          @extend .flex-grow-1;
        }
      }
    }

    &-title {
      @extend .d-flex;
      @extend .flex-grow-1;
    }
  }

  &-article {
    @extend .col;
    @extend .col-sm-12;
    @extend .col-md-6;
    @extend .d-flex;
    @extend .flex-column;

    margin: 40px 0 0 0;

    h3 {
      font-size: 1.25rem;
    }

    &-title {
      font-size: 1.25rem;
      color: theme-color("primary");
    }

    &-excerpt {
      @extend .flex-grow-1;

      padding: 0 15px;

      a {
        @extend .flex-grow-1;

        color: theme-color("secondary");

        &:hover {
          color: theme-color("primary");
        }
      }
    }

    &-footer {
      @extend .d-flex;
      @extend .flex-column;
    }
  }

  &-author-container {
    @extend .col-12;
    @extend .d-flex;
  }

  &-author-topic {
    @extend .col-12;
    @extend .d-flex;
  }

  .authors-title {
    margin: 5px;
    line-height: 1.5;
    font-size: 1rem;
  }
}

.entry-footer {
  @extend .d-flex;
  @extend .flex-column;
  @extend .flex-md-row;

  @include media-breakpoint-up(md) {
    padding: 40px;
  }

  .area-title {
    color: theme-color("btn-grey");
  }

  .tags-wrapper {
    @extend .flex-column;
    @extend .col-12;
    @extend .col-md-6;

    padding: 20px;
  }

  .tags-container {
    @extend .d-flex;
    @extend .flex-wrap;

    a {
      @extend .btn-primary;

      background-color: theme-color("secondary");
      padding: 5px 10px;
      margin: 5px;
    }
  }

  .categories-wrapper {
    @extend .tags-wrapper;
  }

  .categories-container {
    @extend .d-flex;
    @extend .flex-wrap;

    a {
      @extend .btn-primary;

      background-color: theme-color("secondary");
      padding: 5px 10px;
      margin: 5px;
    }
  }
}
