.single {
  .archive-author-topic {
    padding: 0 5px;
  }

  .archive-author-container {
    padding: 0;
  }

  .authors-list {
    margin: 0;
  }
}

.reference-container {
  .entry-title {
    margin: 0;
  }
}

.reference-header {
  @extend .d-flex;

  .area-title {
    color: theme-color("primary");
    align-self: center;
  }
}

.reference-toggle-holder {
  margin: 0 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px dashed #707070;
  padding: 4px;
  background-color: rgba(255, 255, 255, 1);

  a[aria-expanded="false"] {
    svg {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      transition: 0.4s ease-in-out;
    }
  }

  a[aria-expanded="true"] {
    svg {
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      transition: 0.4s ease-in-out;
    }
  }

  .reference-toggle {
    line {
      stroke: theme-color("white");
      stroke-width: 60;
      stroke-linecap: round;
      transform: rotate;
    }

    &:hover {
      cursor: pointer;

      line {
        stroke: theme-color("btn-hover");
        stroke-width: 60;
        stroke-linecap: round;
      }
    }
  }
}
