.authors {
  &-container {
    @extend .d-flex;
    @extend .justify-content-start;
  }

  &-title-container {
    @extend .d-flex;
    @extend .flex-grow-1;

    padding: 0;
  }

  &-title {
    @extend .d-flex;
    @extend .flex-grow-1;

    line-height: 1.5;
    font-size: 1rem;
  }

  &-list {
    @extend .d-flex;
    @extend .flex-row;
    @extend .flex-grow-1;
    @extend .align-items-center;

    .author {
      @extend .d-flex;
      @extend .flex-grow-1;
      @extend .justify-content-end;

      text-align: center;

      &-title {
        @extend .flex-grow-1;
      }
    }
  }
}

.author-link {
  @extend .btn-primary;

  margin-left: 10px;
  padding: 5px;
}
