.categories {
  &-container {
    @extend .d-flex;
    @extend .flex-wrap;

    .cat-link {
      @extend .col;
      @extend .btn-secondary;

      margin: 10px;
      padding: 10px;
    }
  }

  &-title {
    @extend .col-12;

    font-size: 1rem;
  }

  &-links {
    @extend .col-12;
    @extend .d-flex;
    @extend .flex-wrap;
  }

  &-article {
    &-excerpt {
      p {
        a {
          @extend .flex-grow-1;

          color: theme-color("secondary");
        }
      }
    }
  }
}
