.donate-container {
  padding: 0;

  .area-title {
    color: theme-color("magenta");
  }
}

.donate-title-holder {
  padding: 0;

  .area-title {
    color: theme-color("magenta");
    margin: 10px 0 0 0;
    line-height: 23px;
    font-size: 1.8rem;
  }
}

.donate-body-holder {
  background-color: theme-color("magenta");
  color: theme-color("white");
  padding: 0;

  .area-title {
    color: theme-color("magenta");
  }

  .container {
    @extend .d-flex;
    @extend .justify-content-center;
  }
}

.donate-article {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .flex-column;

  margin: 10px;
  height: 200px;
  width: 200px;
  background-color: theme-color("white");
  color: theme-color("magenta");
  border-radius: 50%;
  text-align: center;
  font-weight: 100;
  box-shadow: 0 0 0 20px theme-color("magenta"), 0 0 0 30px theme-color("white");
  transition: box-shadow ease-out;
  transition-duration: 0.3s;

  p {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
