.page-template-template-donate-page {
  .welcome-wrap {
    background-image: none;
    background-color: theme-color("green");
    padding-bottom: 80px;
    color: theme-color("white");
  }
}

.sitepartners {
  .image-container {
    @extend .col-12;
    @extend .d-flex;
    @extend .justify-content-center;

    .wp-post-image {
      max-width: 400px;
    }
  }
}
