.footer-links {
  &-container {
    background-color: theme-color("drk-green");
    padding: 10px;

    h3 {
      font-size: 1rem;
      color: theme-color("white");
    }

    .container {
      @extend .d-flex;
      @extend .flex-wrap;
    }
  }

  &-useful {
    @extend .col;

    color: theme-color("white");

    li {
      color: theme-color("white");
      list-style: none;
    }

    .footer-useful-link {
      line-height: 38px;
    }
  }

  &-social {
    width: 150px;

    p {
      margin: 5px;
    }

    a {
      @extend .btn-primary;
    }

    li {
      list-style: none;
    }
  }

  &-foot {
    @extend .col-12;
    @extend .d-flex;

    gap: 10px;
  }
}

footer {
  padding: 0;
}
