.banner {
  background: theme-color("white");
  z-index: 1;
  padding: 5px;
}

.mobile-brand {
  @extend .col-12;

  background-color: theme-color("white");
  z-index: 2;

  @include media-breakpoint-up(md) {
    display: none;
  }

  .brand-container {
    @extend .d-flex;
    @extend .flex-wrap;

    .brand {
      @extend .flex-grow-1;
      @extend .d-flex;
      @extend .justify-content-end;

      img {
        width: 75px;
      }
    }

    .mobile-search {
      @extend .flex-grow-1;
      @extend .d-flex;
      @extend .justify-content-start;

      button {
        height: 40px;
        background: none;
        border: none;

        img {
          height: 30px;
        }
      }
    }
  }

  .brand-description {
    @extend .col-12;
    @extend .col-xl-8;
    @extend .d-flex;
    @extend .justify-content-center;

    color: theme-color("primary");
    font-size: 1rem;
    text-align: center;
    padding-top: 5px;
  }
}

.fixed-nav {
  background-color: theme-color("drk-green");
  border-bottom: 3px solid white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px;
  animation: reveal-mobile-nav-scroll 800ms ease-in-out;

  p {
    color: white;
    font-size: 0.8rem;
  }
}

.desktop-brand {
  @extend .d-md-flex;
  @extend .flex-md-wrap;

  display: none;
  padding: 0;
  margin: 0;

  @include media-breakpoint-up(md) {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .banner .nav li {
    @extend .nav-item;
  }

  .desktop-search {
    @extend .col-12;
    @extend .col-md-6;
    @extend .col-lg-6;
    @extend .d-flex;

    .search-container .container {
      @extend .justify-content-end;
    }

    .area-title {
      display: none;
    }
  }

  .brand-container {
    @extend .col-12;
    @extend .col-md-6;
    @extend .col-lg-6;
    @extend .flex-lg-row;
    @extend .d-flex;
    @extend .flex-column;

    padding: 0;

    .brand {
      @extend .col-12;
      @extend .col-lg-6;
      @extend .col-xl-4;
      @extend .justify-content-center;
      @extend .flex-lg-row;
      @extend .d-flex;

      max-height: 100px;
      padding: 0;
    }
  }

  .brand-description {
    @extend .col-12;
    @extend .col-lg-6;
    @extend .col-xl-6;
    @extend .justify-content-center;
    @extend .align-items-end;

    color: theme-color("primary");
    font-size: 1rem;
    text-align: center;
  }
}

