.latest-articles-container {
  background-color: theme-color("lgt-grey");
  // background-image: url("../images/nurture-science-white-large.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  color: theme-color("white");

  .area-title {
    @extend .col-12;
  }

  .latest-articles-holder {
    @extend .d-flex;
    @extend .flex-wrap;
    @extend .justify-content-center;
  }

  .latest-article {
    @extend .col-12;
    @extend .col-lg-6;

    padding: 40px 10%;

    h3 {
      font-size: 1.2rem;
    }

    p {
      a {
        @extend .flex-grow-1;

        color: theme-color("secondary");
      }
    }
  }
}

.latest-article-footer {
  @extend .d-flex;
  @extend .flex-column;

  margin-top: 10px;

  .read-more {
    @extend .flex-grow-1;

    color: theme-color("secondary");
  }
}
