.latest-posttype-articles {
  &-container {
    background-image: none;
  }

  &-holder {
    @extend .d-flex;
    @extend .flex-column;

    background-image: none;

    .latest-article {
      margin: 0 auto;

      .author {
        a {
          color: theme-color("white");
        }
      }
    }
  }
}
