.navbar-toggler {
  height: auto;
  width: 70px;
  color: black;
  padding: 5px;
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 3;

  .cls-1 {
    fill: #22b573;
  }

  .cls-2 {
    fill: #22b573;
  }

  .cls-3 {
    fill: theme-color("lgt-grey");
  }

  @include media-breakpoint-up(md) {
    visibility: hidden;
  }

  &[aria-expanded="true"] {
    svg {
      .nav-toggle-btn {
        animation: slide 40ms ease-out;
        animation-fill-mode: forwards;
      }
    }
  }
}

.nav-home > a {
  background-image: path("../images/nurture-science-blue.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}

.nav-search > a {
  background: path("../images/magnifying-glass.svg") center center no-repeat;
  left: 0;
  position: relative;
  transition: left 0.5s ease-in-out;
}

.mobile-brand {
  li {
    a {
      @extend .col;
      @extend .align-self-center;

      background-color: white;
      padding: 10px 5px;
    }
  }
}

.mega-menu {
  @extend .col-12;
  @extend .d-flex;

  position: relative;
  width: 100%;

  &__wrapper {
    animation: fill-color 0.5s ease-in-out;
    background: white;
    box-shadow: 0 4px 4px -2px #777;
    display: none;
    min-height: 200px;
    position: absolute;
    left: 0;
    right: 0;

    @include media-breakpoint-up(md) {
      top: 50px;
    }
  }

  &__content {
    @extend .col-12;
    @extend .col-md-4;

    box-sizing: border-box;
    border-right: 5px solid theme-color("lgt-grey");
    padding: 10px;

    h2 {
      font-size: em(28px);
      color: theme-color("primary");
      letter-spacing: 1px;
      margin-bottom: 10px;
      margin-top: 25px;
    }

    p {
      font-size: em(18px);
      font-weight: normal;
      line-height: em(28px, 18px);
      margin-bottom: 30px;
    }

    .learn-more {
      margin-bottom: 25px;

      &::after {
        // // @include btn-arrow(darkblue);
      }

      &:hover::after {
        // // @include btn-arrow(white);
      }
    }
  }

  &__subnav {
    @extend .flex-grow-1;

    .subnav {
      @extend .d-flex;
      @extend .flex-wrap;
      @extend .flex-row;

      padding: 0;
      margin: 25px;

      li {
        @extend .col;

        font-size: em(16px);
        line-height: em(20px, 16px);
        margin: 20px 0;
        list-style: none;

        a {
          color: theme-color("primary");
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            color: theme-color("secondary");
          }
        }
      }
    }
  }
}

.primary-menu {
  font-weight: bold;
  height: auto;
  padding: 0;

  &__wrapper {
    @extend .col-sm-12;

    padding: 0;
  }

  > .navbar > ul {
    @extend .col-sm-12;

    padding: 0;

    > li {
      @extend .d-flex;
      @extend .col-sm-6;
      @extend .col-md;
      @extend .col-lg;
      @extend .col-xl;
      @extend .flex-lg-grow-1;
      @extend .flex-xl-grow-1;
      @extend .justify-content-center;
      @extend .align-items-center;

      list-style: none;
      position: initial;
      text-align: center;
      border: none;
      padding: 2px;
      height: 50px;

      &:hover {
        background: theme-color("white");

        .mega-menu__wrapper {
          display: none;
        }
      }

      /* > a {
        box-sizing: border-box;
        color: darkblue;
        display: block;
        letter-spacing: 1px;
        line-height: 40px;
        padding: 10px 35px;
        text-decoration: none;
        text-transform: uppercase;
      } */
    }
  }

  .sub-menu {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .navbar-toggler {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .mega-menu {
    &__subnav {
      .subnav {
        flex-direction: row;
      }
    }
  }

  .primary-menu { // mega menu dropdown for desktop and over only
    > .navbar > ul {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      > li {
        &:hover {
          .mega-menu__wrapper {
            display: flex;
            z-index: 1;
          }
        }
      }
    }
  }
}
