.menu-main-menu-container {
  @extend .d-flex;
  @extend .justify-content-center;
}

.menu-post-types-menu-container {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .flex-grow-1;
}

#navContainer {
  @extend .col-12;
  @extend .d-md-flex;
  @extend .flex-md-column;

  left: 0;
  padding: 0;
  margin: 0;

  @include media-breakpoint-up(md) {
    position: relative;
    top: 0;
  }
}

.navbar {
  padding: 0;

  @include media-breakpoint-up(md) {
    padding: 10px;
  }
}

.nav-primary {
  @extend .col-12;
  @extend .d-flex;
  @extend .align-items-end;
  @extend .justify-content-center;
  @extend .flex-grow-1;

  background-color: theme-color("lgt-grey");
  padding-top: 60px;
  position: absolute;
  left: 100vw;

  @include media-breakpoint-up(md) {
    background-color: theme-color("white");
    color: theme-color("lgt-grey");
    padding: 0;
  }

  li {
    border-bottom: solid 1px theme-color("drk-grey");

    @include media-breakpoint-up(md) {
      background-color: theme-color("white");
      color: theme-color("lgt-grey");
      padding: 0;
    }
  }
}

.banner .nav a {
  color: theme-color("primary");
}

.menu-item {
  font-size: 0.8rem;
}

.navbar-hide {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.fixed-top {
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 3px solid white;
  position: fixed;
  top: -150px;
  right: 0;
  left: 0;
  z-index: 1030;

  @include media-breakpoint-up(md) {
    animation: 0.3s ease-in-out both fade-in;
  }

  .nav {
    @extend .d-flex;

    li {
      margin: 10px;
    }
  }

  .container {
    @extend .d-flex;
    @extend .flex-wrap;
  }

  .brand {
    @extend .col-xl-2;

    width: 150px;

    img {
      height: 75px;
      width: 150px;
    }
  }

  .menu-main-menu-container {
    @extend .flex-grow-1;
  }
}

.page-nav {
  margin: 20px;

  .post-page-numbers {
    color: theme-color("primary");
    padding: 5px;

    &.current {
      color: theme-color("secondary");
    }

    &:hover {
      color: theme-color("secondary");
    }
  }
}
