.welcome-wrap {
  @extend .d-flex;

  background-color: theme-color("primary");
  // background-image: url("../images/nurture-science-blue.svg");
  // background-size: 100%;
  // background-repeat: no-repeat;
  // background-position: center 60%;
  // background-attachment: fixed;
  // background-blend-mode: color;
  color: theme-color("white");
  position: relative;
  overflow: hidden;

  .welcome-bg-image {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    transform: rotate(-20deg);
    height: 140px;
    width: auto;
    max-height: 200px;
  }

  .container {
    @extend .d-flex;
    @extend .flex-column;
  }

  .page-header {
    @extend .d-flex;
    @extend .flex-grow-1;
  }

  ul,
  li,
  p {
    color: theme-color("white");
    font-size: 0.8rem;
  }

  h4 {
    color: theme-color("white");
  }

  .main {
    padding: 0 5%;
  }
}

.reference-container {
  padding: 40px;
}

.comments {
  padding: 40px;
}
