.participate-container {
  padding: 0;

  .area-title {
    color: theme-color("lgt-blue");
  }
}

.participate-title-holder {
  padding: 0;

  .area-title {
    color: theme-color("lgt-blue");
    margin: 10px 0 0 0;
    line-height: 23px;
    font-size: 1.8rem;
  }
}

.participate-body-holder {
  background-color: theme-color("lgt-blue");
  color: theme-color("white");
  font-size: 0.8rem;

  .area-title {
    color: theme-color("lgt-blue");
  }
}

.participate-article {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-center;

  margin: 10px;
}
