.single-sitepartners {
  .welcome-wrap {
    @extend .partners-container;
  }
}

.sitepartners {
  .image-container {
    @extend .col-12;
    @extend .d-flex;
    @extend .justify-content-center;

    .wp-post-image {
      max-width: 400px;
    }
  }
}
