.partners {
  &-container {
    background-color: theme-color("purple");
    padding-bottom: 80px;
    background-image: url("../images/nurture-science-partners-large.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: theme-color("white");
  }

  &-body-holder {
    padding: 10px;

    .content {
      @extend .d-flex;
      @extend .flex-column;
      @extend .flex-md-row;
      @extend .justify-content-md-center;
    }

    .partner-article {
      @extend .col-12;
      @extend .col-md-8;

      .partner-image {
        img {
          @extend .d-flex;
          @extend .flex-md-column;
          @extend .justify-content-md-center;
          @extend .align-content-md-center;

          border-radius: 10px;
          margin: 0 auto;
          width: 100%;
          max-width: 300px;
          max-height: initial;
          height: auto;
        }
      }

      h4 {
        padding: 20px 0;
      }

      p {
        margin-bottom: 1rem;
      }

      a {
        border: 1px solid white;
        padding: 5px 20px;

        &:hover {
          background-color: theme-color("btn-hover");
        }
      }

      &-container {
        @extend .col;
        @extend .d-flex;
        @extend .justify-content-center;

        margin: 20px 0;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .partners {
    &-body-holder {
      padding: 40px;

      .content {
        .partner-article {
          .partner-image {
            height: 150px;
          }
        }
      }
    }
  }
}
