.posttypes-container {
  background-color: theme-color("secondary");

  ul {
    @extend .d-flex;
    @extend .justify-content-around;

    margin: 40px 0;

    li {
      margin: 5px;

      a {
        @extend .donate-button;
        @extend .d-flex;
        @extend .align-items-center;
        @extend .justify-content-center;
        @extend .btn-primary;

        background-color: theme-color("white");
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: solid 1px theme-color("secondary");
        text-align: center;
        color: theme-color("primary");
        box-shadow: 0 0 0 3px white;

        &:hover {
          text-decoration: none;
          background-color: none;
          animation: 0.8s ease forwards fill-color-primary;
          color: theme-color("white");
        }
      }
    }

    @include media-breakpoint-up(md) {
      width: 75%;
    }
  }
}
