.search {
  &-wrap {
    .container {
      @extend .d-flex;
      @extend .flex-wrap;

      article {
        @extend .col-12;
        @extend .col-md-6;
        @extend .col-lg-4;

        margin: 10px 0;
      }

      .entry-title {
        line-height: 1.2;
        font-size: 1.2rem;

        a {
          color: theme-color("primary");
        }
      }

      .entry-summary {
        p a {
          color: theme-color("secondary");
        }
      }
    }

    .dropdown-container {
      @extend .d-flex;
      @extend .justify-content-end;
    }
  }
}
