.search-container {
  @extend .col-12;

  background-color: theme-color("white");
  padding: 20px;

  .container {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-content-center;

    .area-title {
      @extend .align-self-center;

      color: theme-color("primary");
      font-weight: 700;
      text-align: right;
      margin: 0 10px 0 0;
    }
  }

  .search-holder {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .flex-column;
    @extend .flex-md-row;

    margin: 0 10px;
  }
}

.desktop-search {
  @extend .justify-content-end;

  .search-container {
    padding: 0;

    .searchform {
      @extend .justify-content-end;

      .search-button {
        width: 70px;
        height: 70px;

        &:hover {
          .logo {
            animation: 0.8s pulse 1;
            animation-fill-mode: forwards;
          }
        }

        .magnify-glass {
          width: 50px;
          height: 50px;
        }

        input {
          margin-right: -25px;
          height: 35px;
        }
      }
    }
  }
}
