.subscribe-container {
  padding: 0;

  .area-title {
    color: theme-color("lgt-blue");
  }
}

.subscribe-title-holder {
  padding: 0;

  .area-title {
    color: theme-color("drk-grey");
    margin: 10px 0 0 0;
    line-height: 23px;
    font-size: 1.8rem;
  }
}

.subscribe-body-holder {
  background-color: theme-color("drk-grey");
  color: theme-color("white");
  font-size: 0.8rem;

  .area-title {
    color: theme-color("drk-grey");
  }
}

.subscribe-article {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .flex-column;
  @extend .justify-content-center;
  @extend .flex-md-row;

  margin: 10px;
}
