.tags {
  &-container {
    @extend .d-flex;
    @extend .flex-wrap;

    &-header {
      @extend .col-sm-12;
      @extend .d-flex;

      form {
        @extend .d-flex;
        @extend .align-self-center;

        width: 300px;
        height: 25px;

        select {
          @extend .flex-grow-1;

          margin: 0 5px;
        }

        input {
          @extend .flex-grow-1;
        }
      }
    }

    &-title {
      @extend .flex-grow-1;
    }
  }

  &-article {
    @extend .col;
    @extend .col-md-6;
    @extend .col-lg-4;

    h3 {
      font-size: 1.2rem;
    }
  }
}
