.site-admins {
  &-list-container {
    color: theme-color("drk-grey");

    a {
      color: theme-color("drk-grey");
    }
  }

  &-list {
    @extend .d-flex;

    color: theme-color("drk-grey");

    .admin {
      &-container {
        @extend .col;
        @extend .d-flex;
        @extend .flex-column;
      }
    }
  }
}
