.toTop-container {
  position: fixed;
  bottom: 50px;
  right: 20px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 1px dashed theme-color("btn-grey");
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 100;
}
