body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
}

p {
  margin-bottom: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.area-title {
  font-size: 1.4rem;
  color: theme-color("white");
  font-weight: bold;
}

.type-title {
  font-size: 1.2rem;
  border-bottom: 1px theme-color("white") solid;
  line-height: 35px;
  color: theme-color("primary");
}
