@keyframes pulse {
  0% {
    transform: scale(0.2);
  }

  40% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(0.8);
  }
}

@keyframes pulse-out {
  0% {
    transform: scale(0.8);
  }

  40% {
    transform: scale(0.5);
  }

  60% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(0.2);
  }
}

@keyframes pulse-border {
  0% {
    border-width: 2px;
  }

  40% {
    border-width: 30px;
  }

  60% {
    border-width: 20px;
  }

  100% {
    border-width: 40px;
  }
}

@keyframes pulse-border-out {
  0% {
    border-width: 40px;
  }

  40% {
    border-width: 20px;
  }

  60% {
    border-width: 30px;
  }

  100% {
    border-width: 2px;
  }
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
    top: -150px;
  }

  100% {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
}

@keyframes fill-color-primary {
  100% {
    background-color: theme-color("primary");
  }
}

@keyframes fill-color-secondary {
  100% {
    background-color: theme-color("secondary");
  }
}

@keyframes fill-color {
  0% {
    opacity: 0;
  }

  30% {
    fill: theme-color("white");
  }

  100% {
    opacity: 1;
    fill: theme-color("secondary");
  }
}

@keyframes fill-color-out {
  0% {
    opacity: 1;
    fill: theme-color("secondary");
  }

  30% {
    fill: theme-color("white");
  }

  100% {
    opacity: 0;
  }
}

@keyframes opacity-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// mega menu
@keyframes reveal-mega-menu {
  0% {
    height: 0%;
  }

  100% {
    height: auto;
  }
}

@keyframes fadein-mega-menu {
  0% {
    opacity: 0;
    top: -5px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes reveal-mobile-nav-scroll {
  0% {
    top: -175px;
  }

  100% {
    top: 0;
  }
}

@keyframes slide {
  100% {
    transform: translateX(50%);
  }
}

// end mega menu
