body {
  font-family: "Open Sans", serif;

  @include media-breakpoint-up(md) {
    padding-top: 0;
  }
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-up(md) {
    padding: 0;
  }
}

.container {
  padding: 0;
}

.wrap {
  padding: 40px;
}

img {
  height: auto;
  width: 100%;
}

.main {
  @include media-breakpoint-up(md) {
    padding: 0;
  }
}
